@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
background: black;
color: #f6f6f6;
height: 100vh;
box-sizing: border-box;
}

.titulo-destaque{
    color: #22D4FD;
}

.presentacion{
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;

}

.parrafo{
    font-size:24px;
    font-family: "Montserrat", sans-serif;

}

.botones{
    display: flex;
    justify-content: space-between;

}

.enlaces{
    width: 280px;
    background-color: #22D4FD;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}